html {
    zoom: 0.9;
}

body {
    width: 100%;
    margin: 0 auto;
    /* margin-top: 0px; */
    height: 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(background.jpg);
}

.search-div {
    width: 100%;
    text-align: center;
    margin-top: 8%;
    display: inline-block;
}

h1 {
    color: rgb(71, 195, 195);
    size: 200px;
}

input {
    width: 50%;
    height: 30px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}