body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
    width: 100%;
}

.editor {
    display: flex;
    height: 100%;
    outline: #fff 1px solid;
}

textarea {
    width: 33.333%;
    font-size: 18px;
    padding: 0.5em;
    resize: none;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (prefers-color-scheme: dark) {
    body,
    textarea {
        background-color: #333;
        color: #fff;
    }
}