html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.left-panel,
.right-panel {
    box-sizing: border-box;
    flex: 0 0 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    border-right: 1px solid #333;
}

textarea,
iframe {
    margin: 0;
    width: 100%;
    height: 100%;
}

textarea {
    outline: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.4;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
    }

    textarea {
        background: #555;
        color: white;
        border: 0;
    }

    .left-panel {
        border-color: #eee;
    }

    .right-panel {
        border-color: #eee;
    }

}