html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

pre {
    max-width: 100%; 
    overflow-x: auto; 
    white-space: pre;
    box-sizing: border-box; 
    word-wrap: normal;
}

pre,
code {
    background-color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    padding-bottom: 5px;
    line-height: 1.2;
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #33aadd;
    display: block;
}

h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
    width: 95%;
    background-color: #007acc;
}

h5::after,
h6::after {
    height: 1.5px;
}

th,
td {
    border: 1px solid;
}

thead {
    background-color: #9cceffff;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }

    thead {
        background-color: #4b6986ff;
    }

    pre,
    code {
        background-color: #555;
    }

    a:any-link {
        color: aqua;
    }
}