* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    line-height: 1.5;
    font-size: 20px;
    word-wrap: break-word;
    word-break: break-all
}

.note {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    outline: none;
    resize: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
    }
}