body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
    background: white;
    cursor: crosshair;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333;
        color: white;
    }

    canvas {
        background: #333;
    }
}