body {
    text-align: center;
    overflow: hidden;
}

h1 {
    margin: 0;
}

button {
    border: 0;
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: x-large;
    margin: 10px 10px 8px 10px;
    background-color: #9999ff;
}

hr {
    width: 95%;
}

#info {
    width: 95%;
    margin: 0 auto;
}

p {
    margin: 10px 0;
    text-align: left;
    font-size: x-large;
}

a {
    color: #009999;
    overflow-wrap: break-word;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }

    button {
        background-color: #6666ff;
    }

    a {
        color: #00ffff;
    }
}