html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.main {
    width: 100%;
    text-align: center;
}

.main:first-child {
    margin-top: 5%;
}

#word {
    margin-top: -5px;
    width: 50%;
    height: 30px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 6px;
}

.title {
    height: 35px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.title a {
    line-height: 35px;
    margin-left: 10px;
}

.title .svg {
    height: 35px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.title svg:last-child {
    margin-right: 5px;
}

.title svg:hover {
    transform: scale(1.2);
}

.setting {
    position: fixed;
    cursor: pointer;
    width: 35px;
    height: 35px;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: #47c3c3;
}

#poop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #0000005f;
}

.poop-div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #ffffffc5;
    border-radius: 5px;
}

.poop-div[id="poop-setting"] {
    width: 50%;
}

.poop-fooder {
    margin: 10px 0;
    text-align: center;
}

.setting-title {
    display: block;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.setting-index {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.setting-index div * {
    margin-top: 10px;
}

.setting-button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
    }
    .poop-div {
        background-color: #222222c5;
        color: #fff;
    }
}