html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(background.jpg);
}

.main {
    width: 100%;
    text-align: center;
}

.main:first-child {
    margin-top: 100px;
}

h1,h4 {
    color: #47c3c3;
}

#word {
    margin-top: -5px;
    width: 50%;
    height: 30px;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}

.bookmark {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 6px;
    background-color: #60eeeeae;
}