:root {
    --body-bg-color: #eee;
    --body-text-color: #000;
    --border-bg-color: #000;
    --input-box-color: #ccc;
    --selent-bg-color: #bbeeff;
    --info-text-color: #0066cc;
    --hover-bg-color: #bbddffee;
}

body {
    margin: 0;
    display: flex;
    min-width: 370px;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--body-bg-color);
    color: var(--body-text-color);
}

h2 {
    margin: 0;
    padding: 0;
    text-align: center
}

.info-text{
    color: var(--info-text-color)
}

.subtitle {
    display: block;
    text-align: center;
    font-weight: bolder;
}

.container {
    display: flex;
    margin-top: auto;
    justify-content: center;
}

.box {
    flex-grow: 1;
    width: 400px;
    display: flex;
    margin: 5px auto;
    border-radius: 5px;
    flex-direction: column;
    border: 2px solid var(--border-bg-color);
}

.title {
    height: 35px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--border-bg-color);
    justify-content: space-between;
}

.title a {
    line-height: 35px;
    margin-left: 10px;
    user-select: none;
    font-weight: bolder;
}

.menu {
    border-bottom: 2px solid var(--border-bg-color);
    display: none;
}

.menu-row {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-item {
    padding: 2px;
    display: flex;
    cursor: pointer;
    margin-right: 6px;
    user-select: none;
    border-radius: 4px;
}

.menu-item:hover {
    background: var(--hover-bg-color);
}

.menu-item.activated {
    background: var(--selent-bg-color);
}

.jslist {
    padding: 5px;
    flex-grow: 1;
    user-select: none;
}

.jsrow {
    padding: 5px;
    display: flex;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
}

.jsrow:hover {
    background-color: var(--hover-bg-color);
}

.jsrow.selected {
    background-color: var(--selent-bg-color);
}

.activate {
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
    text-align: center;
    border-top: 2px solid var(--border-bg-color);
    font-size: large;
    font-weight: bold;
    user-select: none;
}

.activate:hover {
    background-color: var(--hover-bg-color);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #00000080;
}

.overlay-box {
    width: 300px;
    border-radius: 4px;
    color: var(--body-text-color);
    background-color: var(--body-bg-color);
}

.overlay-box b {
    display: block;
    margin: 10px auto;
    text-align: center;
    word-break: break-all;
}

.overlay-box input {
    border: 0;
    outline: 0;
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    font-size: large;
    color: var(--body-text-color);
    background-color: var(--input-box-color);
}

.overlay-btndiv {
    display: block;
    margin: 10px 5px;
    font-size: medium;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: #222;
        --body-text-color: #fff;
        --input-box-color: #444;
        --info-text-color: #7fffd4;
        --border-bg-color: #808080;
        --selent-bg-color: #335577;
        --hover-bg-color: #3366aaee;
    }
}