body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 370px;
    margin: 0;
}

h2,
h4 {
    margin: 0;
    padding: 0;
    text-align: center
}

h4 {
    color: #FF9800;
}

b {
    display: block;
    text-align: center;
    margin-top: 5px;
}

a {
    color: #0066cc
}

.container {
    margin-top: auto;
    display: flex;
    justify-content: center;
}

.box {
    flex-grow: 1;
    margin: 10px auto;
    width: 400px;
    border-radius: 5px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.title {
    height: 35px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.title a {
    user-select: none;
    line-height: 35px;
    margin-left: 10px;
    color: #fff;
}

#icon {
    height: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

svg {
    padding: 2px;
    margin: 0 2px;
    border-radius: 4px;
    transition: background 0.2s, transform 0.2s;
}

svg:hover {
    background: #f0f5ff;
    transform: scale(1.15);
}

.tipDiv {
    display: none;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    background-color: #f5deb3;
}

.tipDiv * {
    color: #000;
    margin-top: 10px;
    margin-left: 5px;
}

#list {
    flex-grow: 1;
    user-select: none;
    padding: 5px;
}

#list div[data-isselent="1"] {
    background-color: #cce0ff;
    border-radius: 5px;
}

.js-row {
    width: 100%;
    min-height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s, transform 0.2s;
    flex: 1 1 0;
    word-break: break-all;
    white-space: normal;
    min-width: 0
}

.js-row:hover {
    background-color: #e6f0ff;
}

.js-row a {
    margin-left: 5px;
    margin-right: 5px;
}

/* /*  */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #fff
    }

    a {
        color: #7fffd4
    }

    h4 {
        color: #FFCC00;
    }

    .js-row:hover a {
        color: white;
    }

    .box,
    .title,
    #list div[data-isselent="1"] {
        border-color: gray;
    }

    #list div[data-isselent="1"] {
        background-color: #336666;
    }

    .js-row:hover {
        background-color: #2a4444;
    }

    .title a {
        line-height: 35px;
        margin-left: 10px;
    }

    svg:hover {
        background: #3a4a5a;
        transform: scale(1.15);
    }
}